# FastAPI + Server
fastapi==0.110.1
uvicorn[standard]==0.29.0
python-dotenv==1.0.1

# Vector store + embeddings
qdrant-client==1.8.0
langchain==0.1.16
langchain-community==0.0.32
langchain-huggingface==0.0.3
sentence-transformers==2.2.2
transformers==4.41.1
torch==2.3.0

# Groq LLM client
groq==0.4.2

# PDF/image parsing
pdfplumber==0.10.3
Pillow==10.3.0
pytesseract==0.3.10

# Tokenizer utilities
tiktoken==0.6.0

# Utility
regex
